@font-face {
  font-family: "gotham";
  src: url("ressources/Gotham\ Medium.otf") format("opentype");
}
@font-face {
  font-family: "gotham-light";
  src: url("ressources/Gotham-Light.otf") format("opentype");
}
@mixin flex-center($value1, $value2, $value3) {
  display: flex;
  flex-direction: $value1;
  justify-content: $value2;
  align-items: $value3;
}
@mixin navigation {
  list-style: none;
  font-family: "gotham", sans-serif;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 0.85rem;
  font-weight: lighter;
}
