body,
html {
  margin: 0;
  padding:0;
  box-sizing: border-box;
  overflow: hidden;
  -webkit-transition: opacity 400ms;
  -moz-transition: opacity 400ms;
  transition: opacity 400ms;
  height: -webkit-fill-available;
}

body,
.onepage-wrapper,
html {
  display: block;
  position: static;
  padding: 0;
  width: 100%;
  height: 100%;
  align-items: center;
}

.onepage-wrapper {
  width: 100%;
  height: 100%;
  display: block;
  position: relative;
  padding: 0;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.onepage-wrapper .section {
  width: 100%;
  height: 100%;
}

.onepage-pagination {
  display: none;
}
