@use "_plugins";
@use "_header";
@use "_model3";
@use "_models";
@use "_modelx";
@use "_modely";
@use "_powerwall";
@use "_accessoires";

section:nth-child(1) {
  background: url(/ressources/m3-homepage-desktop.jpg);
  background-size: cover;
  background-position: center;
  @media screen and (max-width: 736px) {
    background: url(/ressources/m3-homepage-mobile.jpg);
    background-size: cover;
    background-position: center;
  }
}
section:nth-child(2) {
  background: url(/ressources/ms-homepage-desktop.jpg);
  background-size: cover;
  background-position: center;
  @media screen and (max-width: 736px) {
    background: url(/ressources/ms-homepage-mobile.jpg);
    background-size: cover;
    background-position: center;
  }
}
section:nth-child(3) {
  background: url(/ressources/mx-homepage-desktop.jpg);
  background-size: cover;
  background-position: center;
  @media screen and (max-width: 736px) {
    background: url(/ressources/mx-homepage-mobile.jpg);
    background-size: cover;
    background-position: center;
  }
}
section:nth-child(4) {
  background: url(/ressources/Desktop-ModelY.jpg);
  background-size: cover;
  background-position: center;
  background-position-y: +55%;
  @media screen and (max-width: 736px) {
    background: url(/ressources/mobile-ModelY.jpg);
    background-size: cover;
    background-position: center;
  }
}
section:nth-child(5) {
  background: url(/ressources/Desktop-SolarPanels.jpg);
  background-size: cover;
  background-position: center;
  background-position-y: +60%;
  @media screen and (max-width: 736px) {
    background: url(/ressources/mobile-SolarPanels.jpg);
    background-size: cover;
    background-position: center;
  }
}
section:nth-child(6) {
  background: url(/ressources/Desktop-Accessories.jpg);
  background-size: cover;
  background-position: center;
  background-position-y: +58%;
}
